:root {
    --bg-color-primary: #333333;
    --bg-color-secondary: #3a3a3a;
    --bg-color-tertiary: #2b2b2b;
    --color-shadow: #0e0e0e;
    --title-color-primary: #eb0018;
    --sub-color-primary: #ffae00;
    --sub-color-secondary: #795a00;
    --txt-color-primary: #bfbfbf;
    --txt-color-secundary: #737373;
    --color-green: #008035;

    /* PADDING - MARGIN*/
    /* large */
    --large-x100: 100px;
    /* medium */
    --middle-x50: 50px;
    /* small */
    --small-x25: 25px;
    --small-x15: 15px;
    --small-x10: 10px;
    --small-x5: 5px;

    /* FONTS */
    --font-serif: "Amiri", serif;
    --font-sansSerif: "Lato", sans-serif;
    /* WEIGHT */
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 700;
    /* SIZE */
    --font-size-p: 16px;
    --font-size-title: 48px;
    --font-size-sub: 32px;
    --font-size-sub2: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.title {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-serif);
    font-weight: var(--font-bold);
    font-size: var(--font-size-title);
}
.txtTitle {
    color: var(--title-color-primary);
    margin-right: var(--small-x25);
}
.main {
    padding-top: var(--middle-x50);
    background: var(--bg-color-primary);
    /* height: 100vh; */
    padding-bottom: 100px;
}
.logoDungeons {
    width: 150px;
}
.cols {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.left,
.right {
    background: var(--bg-color-secondary);
    box-shadow: 0 0 15px var(--color-shadow);
    width: 48%;
    /* height: 90vh; */
    padding: var(--middle-x50) var(--small-x25);
    border-radius: var(--small-x15);
    /* height: 1000px; */
    max-height: 1000px;
    overflow: auto;
}

/* LEFT COLUMN */
.descriptonGame {
    color: var(--txt-color-primary);
    font-size: var(--font-size-p);
    margin-bottom: var(--middle-x50);
    font-family: var(--font-sansSerif);
    line-height: 1.5;
    letter-spacing: 1px;
}
.sub {
    font-size: var(--font-size-sub);
    font-family: var(--font-sansSerif);
    color: var(--sub-color-primary);
    margin-bottom: var(--small-x25);
}
/* FORM */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: var(--middle-x50);
}

.inputs > input,
.inputs > textarea {
    background: transparent;
    border: none;
    box-shadow: 0 0 4px var(--color-shadow);
    padding: var(--small-x10);
    border-radius: var(--small-x5);
    color: var(--txt-color-primary);
    font-size: var(--font-size-p);
    font-family: var(--font-sansSerif);
    transition: all 0.3s ease-in-out;
}
.inputs > input::placeholder {
    color: var(--txt-color-secundary);
}
.inputs > input:focus,
.inputs > textarea:focus {
    box-shadow: inset 0 0 4px var(--color-shadow);
    border: 1px solid var(--sub-color-secondary);
    transition: all 0.3s ease-in-out;
}
.txtDescription {
    color: var(--txt-color-primary);
    font-family: var(--font-sansSerif);
    margin-top: var(--small-x5);
}
.txtLabel {
    font-family: var(--font-sansSerif);
    font-weight: var(--font-bold);
    color: var(--txt-color-primary);
    font-size: var(--font-size-p);
    margin-bottom: var(--small-x5);
    padding-left: var(--small-x10);
}
.formMonster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn {
    display: flex;
    justify-content: center;
}
.button {
    background: var(--sub-color-secondary);
    color: var(--txt-color-primary);
    border: none;
    font-weight: var(--font-bold);
    padding: var(--small-x10) var(--small-x5);
    border-radius: var(--small-x5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: var(--small-x15);
}
.button:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 4px var(--color-shadow);
}
/* RIGHT COLUMN */
.itemMonster {
    position: relative;
    padding: var(--small-x15);
    box-shadow: 0 0 8px var(--color-shadow);
    margin: var(--small-x25) 0;
    border-radius: var(--small-x15);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 40px);
    grid-template-areas:
        "image name name"
        "image kind kind"
        "image input input"
        "description description description"
        "description description description"
        "atk def life" "atk def life";
}
.monsterPic {
    grid-area: image;
}
.monsterName {
    grid-area: name;
    font-size: var(--font-size-p);
    text-transform: uppercase;
    color: var(--txt-color-primary);
    font-family: var(--font-sansSerif);
    font-weight: var(--font-bold);
    /* margin-bottom: var(--small-x15); */
}
.titleMonstersItems {
    font-family: var(--font-serif);
    color: var(--sub-color-secondary);
    font-size: var(--font-size-sub2);
    font-weight: var(--font-bold);
}
.monsterKind {
    grid-area: kind;
    font-size: var(--font-size-p);
    font-family: var(--font-sansSerif);
    color: var(--txt-color-primary);
}
.agregarTipo {
    grid-area: input;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--small-x10);
}
.inputTipo {
    margin-right: var(--small-x10);
    margin-bottom: var(--small-x5);
}
.inputVida,
.inputTipo {
    border: none;
    border-radius: var(--small-x5);
    background: var(--bg-color-tertiary);
    color: var(--txt-color-primary);
    padding: 0 var(--small-x5);
}

.smallTipos {
    width: 100%;
    color: var(--txt-color-primary);
    font-family: var(--font-sansSerif);
    font-style: italic;
}
.monsterDescription {
    grid-area: description;
    overflow: auto;
    color: var(--txt-color-primary);
    font-family: var(--font-sansSerif);
    font-size: var(--font-size-p);
}
.monsterAtk {
    grid-area: atk;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.monsterDef {
    grid-area: def;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.monsterVida {
    grid-area: life;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.monsterPic {
    width: 90px;
}
.trash {
    width: var(--small-x25);
    height: var(--small-x25);
    position: absolute;
    top: var(--small-x15);
    right: var(--small-x15);
    background: transparent;
    border: none;
    cursor: pointer;
}
.trashIcon {
    fill: var(--title-color-primary);
}
.titleMonsterAtk {
    width: 100%;
    text-align: center;
}
.contAtaques {
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.quitarVida {
    display: flex;
    justify-content: center;
}
.inputVida {
    width: 60%;
    margin-right: var(--small-x10);
}
.valueMonsterAtk {
    color: var(--title-color-primary);
    font-family: var(--font-sansSerif);
}
.valueMonsterDef {
    color: var(--sub-color-primary);
    font-family: var(--font-sansSerif);
}
.valueMonsterVida {
    color: var(--color-green);
    font-family: var(--font-sansSerif);
    margin-bottom: var(--small-x10);
}
.btnAgregarTipo {
    color: var(--sub-color-primary);
}
.btnQuitarVida {
    color: var(--title-color-primary);
}
.btnAgregarTipo,
.btnQuitarVida {
    font-size: var(--font-size-p);
    font-weight: var(--font-bold);
    background: transparent;
    border: none;
    cursor: pointer;
}
.danger {
    color: var(--title-color-primary);
}
.hide {
    display: none !important;
    transition: all 0.6s ease-in-out;
}
